/* MAIN STYLE */

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    overflow-x: hidden;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    position: fixed;
}

header > #HeaderArticle_1 {
    margin-top: 10px;
    display: flex;
}

header > #HeaderArticle_1 > a {
    vertical-align: middle;
    width: 13%;
    margin-top: 15px;
}

header > #HeaderArticle_1 > ul {
    list-style: none;
    display: flex;
}

header > #HeaderArticle_1 > ul > li {
    padding-right: 12px;
}

header > #HeaderArticle_2 {
    margin-top: 7px;
    color: black;
}

header > #HeaderArticle_2 > ul {
    list-style: none;
    display: flex;
}

header > #HeaderArticle_2 > ul > li {
    font-size: 23px;
    padding-right: 15px;
}

#MainSection {
    width: 100%;
    height: 35vw;
    filter:opacity(70%);
    background-image: url('https://portfolio.gyeong.net/static/media/trip_of_memory_thumb.80641e9f.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
    text-align: center;
}

#MainSection > p {
    width: 100%;
    color: white;
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 700;
    padding-top: 17%;
}

#ContentsSection {
    width: 100%;
    height: 30vw;
}

#ContentsSection > p {
    text-align: center;
    padding-top: 12%;
    font-size: 2vw;
    letter-spacing: -1px;
}

footer {
    width: 100%;
    height: 100px;
    text-align: center;
    font-weight: 300;
    letter-spacing: -0.5px;
    position : relative;
    transform : translateY(0%);
    background-color: rgb(240, 240, 240);
}

footer > p {
    padding-top: 35px;
}

/* PORTFOLIO STYLE */

#SelectArticle > div > ul {
    list-style: none;
    display: flex;
}

#SelectArticle > div > ul > li {
    padding-right: 12px;
}

.portfolio_btn {
    padding: 8px 12px;
    border: 1px solid #000;
    border-radius: 50px;
}

.portfolio_btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.portfolio_btn_active {
    background-color: black;
    color: white;
    cursor: pointer;
}