/* MAIN STYLE */

@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', 'sans-serif';
    font-weight: 100;
    letter-spacing: -1px;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

body.reveal {
    opacity: 1;
}

body.hidden {
    opacity: 0
}


hr {
    border: 0px;
    height: 1px;
    background-color: lightgrey;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    border: 0;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    top: 0px;
    position: fixed;
    transition: all 0.2s ease-in-out;
}

.header.scroll {
    top: -80px;
}

.header > #HeaderArticle_1 {
    margin-top: 10px;
    display: flex;
}

.header > #HeaderArticle_1 > a {
    vertical-align: middle;
    width: 130px;
    margin-top: 20px;
    margin-left: 30px;
    padding-right: 15px;
    height: max-content;
    border-right: 1px solid lightgrey;
}

.header > #HeaderArticle_1 > ul {
    list-style: none;
    display: flex;
    margin-left: -10px;
}

.header > #HeaderArticle_1 > ul > li {
    padding-right: 12px;
    letter-spacing: -1px;
    font-weight: 700;
}

.header > #HeaderArticle_1 > ul > li > a {
    color: auto;
    transition: all 0.1s ease;
}

.header > #HeaderArticle_1 > ul > li > a:hover {
    color: black !important;
    transition: all 0.2s ease;
}

.header > #HeaderArticle_2 {
    margin-top: 7px;
    color: black;
}

.header > #HeaderArticle_2 > ul {
    list-style: none;
    display: flex;
}

.header > #HeaderArticle_2 > ul > li {
    font-size: 23px;
    padding-right: 15px;
}

#MainSection {
    width: 100%;
    height: 35vw;
    filter:opacity(70%);
    background-image: url('https://portfolio.gyeong.net/static/media/trip_of_memory_thumb.80641e9f.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    z-index: -5;
    text-align: center;
}

#MainSection > p {
    width: 100%;
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 700;
    padding-top: 17%;
    filter: drop-shadow(0 0 0.7rem black);
}

#ContentsSection {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 160px;
}

#ContentsSection > p {
    text-align: center;
    padding-top: 12%;
    font-size: 2vw;
    letter-spacing: -1px;
    font-weight: 200;
}

footer {
    width: 100%;
    height: 100px;
    bottom: 0;
    text-align: center;
    font-weight: 300;
    letter-spacing: -0.5px;
    position : relative;
    transform : translateY(100%);
    background-color: rgb(240, 240, 240);

}

footer > p {
    padding-top: 35px;
}

.Lang_menu {
    background-color: white;
    width: max-content;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px hsl(0deg 0% 0% / 0.15);
    margin-left: -15px;
    padding-bottom: 85px;
    display: none;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.Lang_menu > ul {
    list-style: none;
    padding-top: 10px;
    margin-top: -173px;
    margin-left: -20px;
}

.Lang_menu > ul > li {
    padding-right: 20px;
    text-align: left;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.Lang_btn {
    cursor: pointer;
}

.Lang_sel {
    margin-left: 55px;
    margin-top: -20px;
    cursor: pointer;
    text-align: left;
    width: max-content;
}

.Lang_sel > img {
    margin-left: 35px;
}

.Lang_menu.onclick {
    display: block;
}

.Lang_menu:hover {
    display:block;
    transition: all 0.2s ease-in-out;
}

#NewsTap {
    margin: 75px;
    width: 33.3%;
    height: auto;
}

#Home_Top {
    display: flex;
    justify-content: space-evenly;
    height: max-content;
    width: 100%;
}

#NewsTapContents {
    display: flex;
    justify-content: space-between;
}

#NewsTap > div > p {
    width: max-content;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1px;
    clear:left;
}

#NewsDate {
    font-size: 10px;
    margin-top: 5px;
    color: grey;
    font-weight: 200;
}

#NewsTap > hr {
    width: auto;
    height: 5px;
    background-color: black;
    margin-bottom:0;
}

#NewsMore {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.5px; 
    margin-top: 17px;
}

.NewsContents {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
    padding-left: 15px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: white;
    letter-spacing: -0.5px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: block;
}

.New_icon {
    font-size: 9px;
    border-radius: 5px;
    background-color: red;
    width: max-content;
    padding: 2px 5px;
    color:white;
    float:right;
    margin-left: 9px;
    margin-top: 2px;
}

.New_icon_inpage {
    font-size: 9px;
    border-radius: 5px;
    background-color: red;
    width: max-content;
    padding: 2px 5px;
    color:white;
    margin-bottom: 5px;
}

.NewsContents:hover {
    background-color: rgb(240, 240, 240);
    transition: all 0.2s ease-in-out;
}

#Home_hr {
    width: 90%;
}

#Home_Second {
    margin: 75px;
    border: 1px solid lightgrey;
    background-color: rgb(250, 250, 250);
    padding: 24px;
    border-radius: 24px;
}

.Home_Title {
    font-size: 35px;
    font-weight: 700;
}

.Home_SubTitle {
    font-size: 20px;
    font-weight: 300;
    margin-top: 7px;
}

.Photo {
    letter-spacing: -5px;
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
}

.Photo img {
    vertical-align: bottom;  
}

.Info {
    margin-top: 24px;
    width: 100%;
}

.Home_Second_Icon {
    letter-spacing: 0;
    margin-top: 25px;
    font-weight: 300;
}

/* PORTFOLIO STYLE */

#MainSection_PFO {
    width: 100%;
    height: 35vw;
    filter:opacity(70%);
    background-image: url('https://portfolio.gyeong.net/static/media/honey_moon.9e198d58.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    z-index: -5;
    text-align: center;
}

#MainSection_PFO > p {
    width: 100%;
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 700;
    padding-top: 17%;
    filter: drop-shadow(0 0 0.7rem black);
}

.ScrollDown_icon {
    visibility: hidden;
}

#PFO_SECTION_1 {
    display: flex;
    justify-content: space-evenly;
}

#SelectArticle {
    width: 50%;
    margin-top: 40px;
    margin-left: 2%;
}

#SelectArticle > div > ul {
    list-style: none;
    display: flex;
}

#SelectArticle > div > ul > li {
    padding-right: 12px;
}

#SelectArticleSide {
    float: right;
    width: 30%;
    height:max-content;
    margin-top: 60px;
    margin-right: 5%;
}

#PFO_SIDE_BAR {
    width: 100%;
    height: 194px;
    border-left: 1px solid lightslategrey;
    padding: 12px 12px;
    float: right;
}

#PFO_SIDE_BAR > p {
    margin-left: 25px;
}

#portfolio_btn {
    padding: 8px 20px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-weight: 700;
}

#portfolio_btn:hover {
    background-color: rgb(250, 250, 250);
    transition: all 0.1s ease-in-out;
}

#portfolio_btn > p {
    font-weight: 700;
}

#portfolio_contents_1{
    background-color: rgb(250, 250, 250);
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 12px 12px;
    width: 90%;
    display: block;
}

#portfolio_contents_2 {
    border: 1px solid lightgrey;
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    padding: 12px 12px;
    margin-left: -12px;
    width: 90%;
    display: none;
    /* box-shadow: 0px 0px 30px hsl(0deg 0% 0% / 0.15); */
}

#portfolio_contents_3 {
    border: 1px solid lightgrey;
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    padding: 12px 12px;
    margin-left: -24px;
    width: 90%;
    display: none;
    /* box-shadow: 0px 0px 30px hsl(0deg 0% 0% / 0.15); */
}

.portfolio_contents_title {
    font-weight: 700;
    letter-spacing: -0.5px;
}

.portfolio_contents_contents {
    font-weight: 200;
    padding-top: 20px;
    letter-spacing: -0.5px;
}

.portfolio_contents_link {
    font-size: 13px;
    font-weight: 400;
    padding-top: 20px;
    letter-spacing: -0.5px;
}

/* News Page */

#NewsPage {
    display: flex;
    width: 100%;
    height: 100%;
}

#NewsSideTitle {
    width: 25%;
    height: 100%;
    writing-mode: vertical-rl;
    position: fixed;
    left: 0;
    background-color: white;
}

#NewsTitle {
    height: 100%;
    font-weight: 100;
    letter-spacing: -3px;
    font-size: 80px;
    text-align: center;
    padding-right: 15%;
}

#NewsRightContents {
    padding: 75px;
    width: 70%;
    margin-left: 25%;
}

.NewsInPages {
    height:auto;
    width: max-content;
}

.NewsInPages > p {
    letter-spacing: -1px;
    font-weight: 200;
    font-size: 40px;
}

.NewsInPages > hr {
    width: 100%;
    float: left;
    background-color: lightgrey;
    height: 1px;
    margin: 30px 0;
}

.NewsInPages_Content {
    width: max-content;
    font-weight: 200;
    font-size: 17px;
    clear: left;
    line-height: 25px;
}

#NewsControls {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 75px;
    font-weight: 200;
}

@media (max-width: 768px) {

    html, body {
        height: 100%;
    }

    .header {
        display: block;
        justify-content: none;
    }

    .header > #HeaderArticle_1 > a {
        width: 25%;
        margin-top: 17px;
        margin-left: 30px;
        padding-right: 15px;
    }

    .ScrollDown_icon {
        margin-top: 20%;
        visibility: visible;
        filter: drop-shadow(0 0 0.7rem black);
    }

    .ScrollDown_icon > a { 
        color: white;
        font-size: 40px;
    }

    .ScrollDown_icon > a > p {
        color: white;
        font-size: 13px;
        margin-bottom: -10px;
        font-weight: 200;
    }

    #HeaderArticle_2 {
        display: none;
    }

    #MainSection {
        height: 100vh;
        background-attachment: local;
    }

    #MainSection > p {
        padding-top: 50vh;
        word-break: normal;
        font-size: 10vw;
    }

    #MainSection_PFO {
        height: 100vh;
        background-attachment: local;
    }

    #MainSection_404 {
        height: 100vh;
        background-attachment: local;
    }

    #MainSection_PFO > p {
        padding-top: 50vh;
        word-break: normal;
        font-size: 10vw;
    }

    #HeaderArticle_1 > a {
        width: 100%;
    }

    #ContentsSection {
        height: 100%;
        padding-bottom: 500px;
        margin-top: 160px;
    }

    #ContentsSection > p {
        font-size: 4.5vw;
        padding-top: 30%
    }

    #Home_Top {
        display: block;
    }

    #PFO_SECTION_1 {
        display: block;
        margin-top: 50px;
    }

    #SelectArticleSide {
        height:max-content;
        margin-top: 60px;
        margin-left: 18%;
        float: none;

    }

    #SelectArticle {
        width: 95%;
        margin-top: 40px;
        margin-left: 2%;
    }

    #PFO_SIDE_BAR {
        width: 100%;
        height: 194px;
        border-left: 1px solid lightslategrey;
        padding: 12px 12px;
    }

    #NewsPage {
        display: block;
        width: 100%;
        height: 100%;
    }

    #NewsSideTitle {
        width: 100%;
        height: 150px;
        text-align: center;
        writing-mode:unset;
        text-align: center;
        position: static;
        border-bottom: 1px solid rgb(240, 240, 240);
        word-break: keep-all;
    }

    #NewsTitle {
        padding-right: 0;
        font-weight: 200;
        letter-spacing: -1px;
        font-size: 55px;
    }

    #NewsRightContents {
        width: 75%;
        margin: 0;
        padding: 14%;
    }

    .NewsInPages {
        height:100%;
        width: 100%;
    }

    .NewsInPages {
        line-height: 50px;
    }

    .NewsInPages_Content {
        width: 100%;
        word-break: break-all;
    }

    #NewsControls {
        width: 100%;
    }

    #NewsTap {
        width: 75%;
        margin: 14%;
    }

    .New_icon {
        float:left;
        margin-left: -2px;
        margin-right: 5px;
    }

    .Lang_sel {
        margin-left: 37%;
        margin-top: -70px;
        text-align: left;
        width: 100%;
    }

    #Home_Second {
        margin: 14%;
        border: 1px solid lightgrey;
        background-color: rgb(250, 250, 250);
        padding: 24px;
        border-radius: 24px;
    }

    .Photo {
        letter-spacing: -5px;
        height: auto;
    }

    footer {
        padding-top: 40px;
    }
    
}